body {
  background: #ddd;
}

.wrapper {
  width: 500px;
  margin: 0px auto;
}

header, footer {
  background: #333;
  color: #ddd;
  width: auto;
  height: 50px;
  line-height: 50px;
}

main {
  min-height: 400px;
  background: #fff;
}

p span {
  font-weight: 700;
  text-decoration: line-through;
}

.wrapper main p#cheese_mountain {
  color: red;
}

main p#cheese_mountain {
  color: blue;
}
